# 站点名称
site_name: 'GoogLeNet'
# 仓库链接
repo_url: https://github.com/zjZSTU/GoogLeNet.git
# 作者
site_author: 'zhujian'
# 版权信息
copyright: '2020, zhujian'
# 源文件目录
docs_dir: 'docs'
# 生成静态文件目录
site_dir: 'site'
# 额外信息
extra:
    # 版本号
    version: 0.1.0
# 主题
theme: 
    # name: 'readthedocs'
    # name: 'mkdocs'
    name: 'material'
# markdown扩展
markdown_extensions:
    - toc:
        permalink: true
    - pymdownx.arithmatex

extra_javascript:
    - 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML'
# 导航
nav:
    - Home: index.md
    - 工程概述: './工程概述.md'
    - 训练日志:
        - 'GoogLeNet': './log-googlenet.md'
        - 'AlexNet vs. GoogLeNet': './log-alexnet-vs-googlenet.md'
        - 'GoogLeNet_BN vs. GoogLeNet': './log-googlenet_bn-vs-googlenet.md'
        - 'Inception_v2 vs. GoogLeNet_BN': './log-inception_v2-vs-googlenet_bn.md'
        - 'Inception_v2 vs. Inception_v3': './log-inception_v2-vs-inception_v3.md'